@import url(https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css);
@import url(https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css);

.btn-danger {
	float: right;
}


#list {
	border:bottom;
}

.btn-success{
	float: right;
}

.btn-info{
	float:right;
}